name: Playwright Cucumber Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: # Enables manual triggering

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install

    - name: Set Environment Variables
      run: |
        echo "TRELLO_API_KEY=${{ secrets.TRELLO_API_KEY }}" >> $GITHUB_ENV
        echo "TRELLO_API_TOKEN=${{ secrets.TRELLO_API_TOKEN }}" >> $GITHUB_ENV
        echo "TRELLO_BOARD_ID=${{ secrets.TRELLO_BOARD_ID }}" >> $GITHUB_ENV
        echo "TRELLO_BOARD_LIST_ID=${{ secrets.TRELLO_BOARD_LIST_ID }}" >> $GITHUB_ENV

    - name: Run Playwright Cucumber tests
      run: npm test

    - name: Upload Playwright test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/

    - name: Upload Cucumber test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: cucumber-report
        path: cucumber-json/

    - name: Upload Playwright traces
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-traces
        path: test-results/